{% include 'layouts/default.html' %}

  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% block body %}

<h1>Como proyecto final creamos un sistema de envio de mensajes
  atraves de una red de blockchain</h1><br></br>
/
<h1>Proyecto creado por:</h1>
<h2>   Alejandro Wong      </h2>
<h2>    Janette Montenegro </h2>
<h2>    Alexander Gonzales  </h2>
<h2>    Xianeth Almanza     </h2>
<h2>    Jose Rodriguez      </h2>



{% endblock %}
