<!DOCTYPE html>

<html>
    <head>
        <title>Bienvenido</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

    </head>

    <body>
        <header>
            <h1>Blockchain</a></h1>
            <a href="/about">Grupo</a>
        </header>
        {% block body %} {% endblock body%}
    </body>
</html>
