<!DOCTYPE html>

<html>
    <head>
        <title>Blockchain</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>

    <body>
        {% block body %} {% endblock %}
    </body>
</html>
